
/* media query */
/* @media (max-width:1440px) {


} */
/* 화면너비 1200px */
@media (max-width:1200px) {
    #today {
        padding: 0 100px;
    }
    #todo .todo-write {
        width: 400px;
        height: 400px;
    }
    #todo .todo-list {
        width: 550px;
    }
}

/* 화면너비 0~1024px */
@media (max-width:1024px) {
    #today {
        padding: 0 70px;
    }
    #today .clock, .date {
        font-size: 2.3em;
    }
    #todo .todo-write {
        width: 350px;
        height: 350px;
    }
    #todo .todo-list {
        width: 500px;
    }
    #todo .todo-write p{
        padding-top: 75px;
    }
    #todo input {
        font-size: 1.3rem;
    }
}

/* 화면너비 0~960px */
@media (max-width:960px) {
    #hello {
        flex-direction: column;
    }
    #today {
        padding: 0 50px;
    }
    #today .clock, .date {
        font-size: 2.2em;
    }
    #todo {
        font-size: 1.5em;
    }
}

@media (max-width:840px) {

    #today .clock, .date {
        font-size: 2.1em;
    }
    #todo {
        display: flex;
        flex-direction: column;
    }
    #todo .todo-list {
        width: 600px;
    }
}

/* 화면너비 0~768px */
@media (max-width:768px) {
    #hello input {
        width: 550px;
    }
    #today {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    #today .clock, .date {
        font-size: 1.9em;
        margin-bottom: 10px;
    }
    #todo .todo-list {
        width: 550px;
    }
    #quote {
        font-size: 1.1em;
        padding: 0 5px;
    }
}

/* 화면너비 0~600px */
@media (max-width:600px) {
    #hello input {
        width: 430px;
        font-size: 1.5em;
    }
    #hello p {
        font-size: 5em;
    }
    #todo .todo-list {
        width: 500px;
    }
}

/* 화면너비 0~480px */
@media (max-width:480px) {
    #hello input {
        width: 300px;
    }
    #hello p {
        font-size: 4.5em;
    }
    #todo .todo-list {
        width: 400px;
    }
}

/* 화면너비 0~320px */
@media (max-width:320px) {
    #hello input {
        width: 280px;
    }

    #today .clock, .date {
        font-size: 1.2em;
    }
    #todo{
        font-size: 1.1em;
    }
    #todo .todo-write {
        width: 250px;
        height: 250px;
    }
    #todo .todo-write p {
       padding-top: 50px;
    }
    #todo input {
        font-size: 1rem;
     }
    #todo .todo-list {
        width: 250px;
    }
    #todo .todo-list li {
        font-size: 1rem;
    }
    #todo .todo-list li img {
        width: 25px;
    }
    #quote {
        font-size: 0.9em;
    }
}